body { 
    background-image: url(img/ishan-seefromthesky-566928-unsplash.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 
         
a { text-decoration: none;
    color: white;
    font-size: 20px;
}

main { 
    background-color: rgba(255, 255, 255, .5); 
    margin-top: 50px; padding: 20px; border-radius: 10px; 
} 

#mainbg { 
    position: relative; 
} 

nav ul li { 
    list-style: none; 
} 

header nav {
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin: 20px 0;
}

header nav ul { 
    display: flex; 
    justify-content: space-between;
    margin: 0px;
    padding: 10px 25px;
}

header a {
    text-shadow: 5px 5px 5px black;
}

footer { 
    display: flex; 
    align-items: center; 
    font-size: 12px;
    position: relative;
    margin: 0 0 10px 0;
} 

footer a { 
    font-size: 12px;
    color: white;
} 

footer nav ul li {
    display: inline-block;
    margin: 0 20px;
} 

#social {
    color: white;
    position: absolute;
    right: 0;
    top: 5px;
}


#social img {
    width: 30px;
    margin: 0 5px;
    vertical-align: middle;
}

